@import url(https://fonts.googleapis.com/css?family=Roboto:regular,italic,500,500italic,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.6875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  padding: 0px 0px;
}

.button--fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 18.75rem;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 1273px;
  border-radius: 11px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__content {
  position: relative;
}

.popup__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 2.625rem;
  right: 2.625rem;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.popup__close::before {
  content: "";
  position: absolute;
  width: 4.9375rem;
  height: 4.9375rem;
  top: -0.75rem;
  right: -0.75rem;
  background-color: #262d63;
  border-radius: 50%;
  z-index: 1;
}

.popup__close-image {
  position: relative;
  z-index: 20;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.popup__title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1458333333;
  text-align: center;
  color: #1e1e1e;
  margin-bottom: 3.5rem;
  max-width: 50.8125rem;
}

.popup__link-reg {
  text-align: center;
  color: #454d5c;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.15;
  margin-bottom: 6.875rem;
}

.popup__link-reg a {
  color: #808285;
  position: relative;
}

.popup__link-reg a::before {
  content: "";
  bottom: -0.3125rem;
  width: 0%;
  height: 0.1875rem;
  background-color: #84ffc0;
  position: absolute;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1.3125rem 3.5625rem;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 1.16;
  background-color: #ff0080;
  background-color: #5969c9;
  border-radius: 0.6875rem;
  color: #fff;
}

.forms-popup {
  margin-bottom: 2.625rem;
}

.forms-popup__inp:not(:last-child) {
  margin-bottom: 1.25rem;
}

.forms-popup__inp::before {
  -webkit-transform: translate(-4.1875rem, 3.125rem);
  -ms-transform: translate(-4.1875rem, 3.125rem);
  transform: translate(-4.1875rem, 3.125rem);
}

.forms-popup__input {
  background-color: #454d5c;
  border-radius: 0.625rem;
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 1.1555555556;
  color: rgba(255, 255, 255, 0.7);
  min-width: 59.4375rem;
  padding: 0.3125rem 1.875rem;
  position: relative;
}

.popup__content_one-more {
  max-width: 42.8125rem;
}

.popup__close_small {
  top: 1.25rem;
  right: 1.25rem;
}

.popup__close_small::before {
  content: "";
  top: -0.375rem;
  right: -0.3125rem;
  height: 2.3125rem;
  width: 2.3125rem;
}

.popup__close-image_small {
  width: 1.5625rem;
  height: 1.5625rem;
}

.popup__body-ptoject {
  max-width: 42.8125rem;
}

.popup__block-items {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__icons-block {
  margin-right: 5.125rem;
}

.popup__icons-title {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: rgba(38, 45, 99, 0.6);
  margin-bottom: 1rem;
}

.popup__icon-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4.25rem;
  -webkit-column-gap: 2.875rem;
  -moz-column-gap: 2.875rem;
  column-gap: 2.875rem;
}

.popup__project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup__name-project:not(:last-child) {
  margin-bottom: 3.75rem;
}

.popup__project-name {
  background: #454d5c;
  border-radius: 0.75rem;
  padding: 0.625rem 0.625rem;
  width: 100%;
}

.popup__project-link {
  background: #454d5c;
  border-radius: 0.75rem;
  padding: 0.625rem 0.625rem;
}

.popup__btn-save {
  margin-top: 1.875rem;
  text-align: center;
}

.popup__btn-save button {
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 61, 51, 0.7)), to(rgba(248, 119, 92, 0.7)));
  background: linear-gradient(90deg, rgba(245, 61, 51, 0.7) 0%, rgba(248, 119, 92, 0.7) 100%);
}

.popup__project-item {
  color: #eee;
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
  list-style: none;
  padding-right: 3.125rem;
  background-color: #747474;
  color: #fff;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #eee;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: #5a5a5a;
}

.tabs--first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__navigation--first {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.tabs__button {
  background-color: #6a6a6a;
  width: 3.125rem;
  height: 3.125rem;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tabs__button:not(:last-child) {
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}

.tabs__title {
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.tabs__content {
  border: 1px solid #eee;
  padding: 2rem 0.9375rem;
  border-radius: 1.8125rem;
  background: rgba(217, 217, 217, 0.65);
  -webkit-backdrop-filter: blur(0.3125rem);
          backdrop-filter: blur(0.3125rem);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.decor-item__image {
  position: absolute;
}

.decor-item__image_1 {
  top: 8.875rem;
  left: 0;
}

.decor-item__image_2 {
  top: 40.625rem;
  left: 2.3125rem;
}

.decor-item__image_3 {
  top: 57.5rem;
  left: 11.75rem;
}

.decor-item__image_4 {
  top: 12.5rem;
  left: 33.125rem;
}

.decor-item__image_5 {
  top: 58.875rem;
  left: 43.625rem;
}

.decor-item__image_6 {
  top: 11.5rem;
  left: 68.75rem;
}

.decor-item__image_7 {
  top: 39.625rem;
  right: 7.125rem;
}

.decor-item__image_8 {
  top: 2.125rem;
  right: 2.5rem;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  background: no-repeat 65% url(/img/icons/ellipse.svg);
  margin-bottom: 1.375rem;
}

.header {
  margin: 1.875rem 0rem;
}

.header__container {
  padding: 0.3125rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 8.75rem;
}

.header__link-main {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.tests__block {
  border-radius: 2.4375rem;
  border: 0.0625rem solid #AEAEAE;
  background: rgba(191, 191, 191, 0.15);
  -webkit-backdrop-filter: blur(0.3125rem);
          backdrop-filter: blur(0.3125rem);
  padding: 2.125rem 2.125rem 6.125rem 2.25rem;
}

.tests__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4.375rem 0 0.75rem;
  margin-bottom: 2.6875rem;
}

.tests__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
}

.tests__passed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  position: relative;
}

.tests__passed::before {
  content: "";
  top: 0;
  right: -4.125rem;
  position: absolute;
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url(/img/icons/ellipse.svg);
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5rem 1fr;
  -ms-grid-columns: 1fr 5rem 1fr 5rem 1fr;
      grid-template: 1fr 1fr/repeat(3, 1fr);
  gap: 5rem;
}

.cards__card {
  border-radius: 2.1875rem;
  background-color: #DDD;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.125rem 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.cards__item {
  margin-bottom: 1.125rem;
  color: #000;
  font-size: 1.25rem;
  font-weight: 700;
}

.cards__theme {
  text-align: center;
  margin-bottom: 1.4375rem;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.cards__try {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.cards__scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards__text {
  margin-right: 0.9375rem;
}

.cards__score {
  border-radius: 1.0625rem;
  background: #84FF70;
  -webkit-box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25) inset;
          box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25) inset;
}

.cards__score span {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  padding: 0rem 1rem;
}

.tabs__container {
  width: 100%;
}

.tabs__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tabs__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.875rem;
}

.tabs__table {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.tabs__number-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs__button {
  background-color: #6a6a6a;
  width: 3.125rem;
  height: 3.125rem;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tabs__button.active::before,
.tabs__button.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.1875rem;
  width: 1.875rem;
  background-color: #c4f2f0;
}

.tabs__button.active::before {
  content: "";
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  left: 20%;
}

.tabs__button.active::after {
  content: "";
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.tabs__button:not(:last-child) {
  margin-right: 0.625rem;
  margin-bottom: 0.625rem;
}

.spollers__item {
  color: #fff;
}

.spollers__element {
  position: relative;
}

.spollers__element:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.spollers__element::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #89ffa8;
  height: 0.0625rem;
}

.test__slider {
  margin-bottom: 1.875rem;
}

.test__text {
  background-color: #D9D9D9;
  margin-bottom: 1.4375rem;
  padding: 1.875rem 1.875rem;
}

.test__answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.test__answer {
  font-size: 1.5rem;
  line-height: normal;
  font-style: normal;
  font-weight: 700;
}

.test__choice {
  margin-right: 1.25rem;
  min-width: 3.375rem;
  background-color: #D9D9D9;
  padding: 0.625rem 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.test__button {
  white-space: wrap;
  min-width: 21.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  border-radius: 0.625rem;
  font-size: 1.5rem;
  padding: 0.625rem 1.25rem;
  background-color: hsl(192, 100%, 86%);
}

.test__button:not(:last-child) {
  margin-bottom: 1.25rem;
}

.test__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ending__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ending__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: normal;
  background: no-repeat 60% url(/img/icons/ellipse.svg);
  margin-bottom: 1.375rem;
}

.ending__tablet {
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  padding: 3.0625rem 4.875rem;
  background-color: #a2a2a2;
  margin-bottom: 1.375rem;
}

.ending__actions {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}

.ending__results {
  padding: 0.625rem 3.0625rem;
  background-color: #a2a2a2;
  white-space: wrap;
  max-width: 15rem;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ending__results:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.ending__exit {
  padding: 1.5625rem 5.0625rem;
  background-color: #a2a2a2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.ending__exit:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.result__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[2];
      grid-template: 1fr/repeat(2, 1fr);
}

.result__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1.25rem 1fr 1.25rem 1fr 1.25rem 1fr 1.25rem 1fr 1.25rem 1fr 1.25rem 1fr;
  -ms-grid-columns: 11.5rem 1.25rem 11.5rem 1.25rem 11.5rem;
      grid-template: repeat(7, 1fr)/repeat(3, 11.5rem);
  gap: 1.25rem;
}

.result__item {
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5625rem 0.625rem;
  text-align: center;
  background-color: #C0BFBF;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (any-hover: hover) {
  .tabs__button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .cards__card:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .tabs__button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}